DATABASE_URL="prisma://accelerate.prisma-data.net/?api_key=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJhcGlfa2V5IjoiNzIyMTUxYTctNzYzNi00ZDlkLWE3MDYtOTEyNDIzMGQwNzQ1IiwidGVuYW50X2lkIjoiMTVmMmFiYTE0NjYyM2UyMzE5MWI0MTkzMWM2MmY1YTMzYmJkYTljYTEwZDBlY2MyYzFmZjZjNmNjYjYzODA0NiIsImludGVybmFsX3NlY3JldCI6IjhiZGQzNmRmLThiZTktNDYxZi04MzI4LTA0NzRhMjhjZDMzZSJ9._ie8LnphdKR_eoWAaAwoRrr5fDIINzRXjB_E-tgaEyY"
JWT_SECRET = "amitkumarjha"